@{
    ViewData["Title"] = "Okompanii";
}
<!-- Content -->
<section id="layout-content">
    <div class="blogwrap">


        <div class="about">
            <a href="@Url.Action("Onas", "Home")" class="about-item">
                <div class="about-img">

                    <img data-src=""
                         src="https://apctrade.kz/storage/app/uploads/public/608/635/e6a/608635e6a180f908748320.jpg"
                         alt=""
                         style="max-width: 100%" />

                </div>

                <div class="about-content">
                    <div class="about-name">О компании APC Trade</div>
                </div>
            </a>
            <a href="@Url.Action("Videnie", "Home")" class="about-item">
                <div class="about-img">

                    <img data-src=""
                         src="https://apctrade.kz/storage/app/uploads/public/608/638/afa/608638afa29ad246631165.jpg"
                         alt=""
                         style="max-width: 100%" />

                </div>

                <div class="about-content">
                    <div class="about-name">Видение</div>
                </div>
            </a>
            <a href="@Url.Action("Celi", "Home")" class="about-item">
                <div class="about-img">

                    <img data-src=""
                         src="https://apctrade.kz/storage/app/uploads/public/608/638/b8d/608638b8d584b251311994.jpg"
                         alt=""
                         style="max-width: 100%" />

                </div>

                <div class="about-content">
                    <div class="about-name">Цели</div>
                </div>
            </a>
            <a href="@Url.Action("Missiya", "Home")" class="about-item">
                <div class="about-img">

                    <img data-src=""
                         src="https://apctrade.kz/storage/app/uploads/public/608/638/cd2/608638cd2259b030444333.jpg"
                         alt=""
                         style="max-width: 100%" />

                </div>

                <div class="about-content">
                    <div class="about-name">Миссия</div>
                </div>
            </a>
            <a href="@Url.Action("Struktura", "Home")" class="about-item">
                <div class="about-img">

                    <img data-src=""
                         src="https://apctrade.kz/storage/app/uploads/public/608/638/6de/6086386de3e40387096132.jpg"
                         alt=""
                         style="max-width: 100%" />

                </div>

                <div class="about-content">
                    <div class="about-name">Структура компании</div>
                </div>
            </a>

        </div>



        <div class="pagination-wrap">
        </div><div class="clr"></div>
    </div>
</section>
