
@{
    ViewData["Title"] = "Uslugi";
}

        <!-- Content -->
        <section id="layout-content">
            <div class="blogwrap">


                <div class="about service">

                    <a href="@Url.Action("Automation", "Home")" class="about-item service-item">
                        <div class="about-img">

                            <img data-src=""
                                 src="https://apctrade.kz/storage/app/uploads/public/608/663/594/608663594cc88356006630.jpg"
                                 alt=""
                                 style="max-width: 100%" />

                        </div>

                        <div class="about-content">
                            <div class="about-name">Автоматизированная система управления зданием</div>
                        </div>
                    </a>
                    <a href="@Url.Action("Videonabludenie", "Home")" class="about-item service-item">
                        <div class="about-img">

                            <img data-src=""
                                 src="https://apctrade.kz/storage/app/uploads/public/608/680/e52/608680e52cd93720079579.jpg"
                                 alt=""
                                 style="max-width: 100%" />

                        </div>

                        <div class="about-content">
                            <div class="about-name">Видеонаблюдение</div>
                        </div>
                    </a>
                    <a href="@Url.Action("Dostup", "Home")" class="about-item service-item">
                        <div class="about-img">

                            <img data-src=""
                                 src="https://apctrade.kz/storage/app/uploads/public/608/681/a4a/608681a4a1525235510057.jpg"
                                 alt=""
                                 style="max-width: 100%" />

                        </div>

                        <div class="about-content">
                            <div class="about-name">Контроль и управление доступом</div>
                        </div>
                    </a>
                    <a href="@Url.Action("Pojar", "Home")" class="about-item service-item">
                        <div class="about-img">

                            <img data-src=""
                                 src="https://apctrade.kz/storage/app/uploads/public/608/682/da9/608682da94441364379201.jpg"
                                 alt=""
                                 style="max-width: 100%" />

                        </div>

                        <div class="about-content">
                            <div class="about-name">Автоматическая пожарная сигнализация</div>
                        </div>
                    </a>
                    <a href="@Url.Action("Cabel", "Home")" class="about-item service-item">
                        <div class="about-img">

                            <img data-src=""
                                 src="https://apctrade.kz/storage/app/uploads/public/608/683/604/6086836041d06757248204.jpg"
                                 alt=""
                                 style="max-width: 100%" />

                        </div>

                        <div class="about-content">
                            <div class="about-name">Структурированные кабельные системы</div>
                        </div>
                    </a>
                    <a href="@Url.Action("Electro", "Home")" class="about-item service-item">
                        <div class="about-img">

                            <img data-src=""
                                 src="https://apctrade.kz/storage/app/uploads/public/608/683/c3b/608683c3b5ac3273043066.jpg"
                                 alt=""
                                 style="max-width: 100%" />

                        </div>

                        <div class="about-content">
                            <div class="about-name">Внутреннее электроснабжение</div>
                        </div>
                    </a>
                    <a href="@Url.Action("Techno", "Home")" class="about-item service-item">
                        <div class="about-img">

                            <img data-src=""
                                 src="https://apctrade.kz/storage/app/uploads/public/646/491/038/646491038ef8f510801888.jpg"
                                 alt=""
                                 style="max-width: 100%" />

                        </div>

                        <div class="about-content">
                            <div class="about-name">Автоматизированная система управления технологическим процессом</div>
                        </div>
                    </a>

                </div>



                <div class="pagination-wrap">
                </div><div class="clr"></div>
            </div>
        </section>