<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="yandex-verification" content="6b96e0e616cfc353" />

    <title>Infinity Project</title>

    <meta name="description" content="INFINITY PROJECT занимается: автоматизированная система управления технологическим
процессом Астана, автоматическая пожарная
сигнализация, сети связи, система видеонаблюдения, система электроснабжения, система контроля и управления
доступом, охранная сигнализация">
    <meta name="title" content="Компания INFINITY PROJECT">
    <meta name="author" content="OctoberCMS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="OctoberCMS">
    <link rel="icon" type="image/png" href="/storage/app/media/favicon.png">
    <link href="https://apctrade.kz/themes/demo/assets/css/vendor.css" rel="stylesheet">
    <link href="https://apctrade.kz/themes/demo/assets/css/theme.css" rel="stylesheet">
    <link href="https://apctrade.kz/themes/demo/assets/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="https://apctrade.kz/themes/demo/assets/css/slick.css" rel="stylesheet">
    <link href="https://apctrade.kz/themes/demo/assets/css/slick-theme.css" rel="stylesheet">
    <link href="https://apctrade.kz/themes/demo/assets/css/personal.css?v=2" rel="stylesheet">
    <link href="https://apctrade.kz/themes/demo/assets/css/media.css?v=11" rel="stylesheet">

    <style>

        /* Ползунок */
        ::-webkit-scrollbar-thumb {
            background-color: #0F3168; /* Цвет ползунка */
        }

        .logo-wrapper {
            position: relative; /* Устанавливаем позиционирование */
            top: 50%; /* Поднимаем логотип на 50% высоты родителя */
            transform: translateY(-50%); /* Корректируем положение, чтобы он оказался посередине вертикали */
        }

        .logo {
            display: inline-block; /* Делаем блок инлайновым, чтобы можно было применять вертикальные отступы */
            margin-top: 32.5px; /* Отступ вверх, равный половине высоты логотипа (65 пикселей / 2) */
            max-width: auto;
            height: auto;
            position: absolute;
        }

        .container ab-none {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        div {
            display: block;
            unicode-bidi: isolate;
        }

        .navbar {
            background-color: transparent; /* Прозрачный цвет фона навбара */
            overflow: hidden; /* Чтобы скрыть все, что выходит за пределы навбара */
            font-family: Arial, sans-serif; /* Установка шрифта */
            font-size: 18px; /* Увеличиваем размер шрифта */
        }

            .navbar a {
                float: left; /* Размещаем ссылки горизонтально */
                display: block; /* Делаем ссылки блочными элементами */
                color: black; /* Цвет текста ссылок */
                text-align: center; /* Выравнивание текста по центру */
                padding: 14px 12px; /* Внутренний отступ для ссылок */
                text-decoration: none; /* Убираем подчеркивание для ссылок */
                transition: background-color 0.3s, color 0.3s; /* Плавное изменение цветов при наведении */
            }

                .navbar a:hover {
                    background-color: #0F3168; /* Цвет фона ссылки при наведении */
                    color: white; /* Цвет текста ссылки при наведении */
                }


        .head_right_top, .head_right_bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .top_phones a {
            color: #151515;
            display: flex;
            align-items: center;
            font-weight: 600;
            margin-right: 10px;
        }
        .top_phones svg {
            margin-right: 7px;
        }
        .top_social {
            display: flex;
            gap: 5px;
            margin-left: auto;
            margin-right: 10px;
        }

        .top_phones {
            display: flex;
            align-items: center;
        }

        .head_right_top {
            border-bottom: 2px solid #C8C8C8;
            padding: 19px 0 12px;
        }

        .head_right_top, .head_right_bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .head_right {
            float: right;
            width: calc(100% - 295px);
        }


        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .container {
            margin-right: auto;
            margin-left: auto;
            padding-left: 15px;
            padding-right: 15px;
        }

        header {
            background: white;
            box-shadow: 0 0 9px #00000036;
        }

        .ftitle {
            color: #AAAAAA;
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 13px;
            line-height: 1.3;
        }

        footer {
            background: #1B1B1B;
            border-top: 32px solid #424242;
        }


        .foot_top {
            padding: 34px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            display: flex;
            justify-content: space-between;
            gap: 42px;
        }


    </style>


</head>
<body>

    <!-- Header -->
    <header id="layout-header">


        <div class="container">
            <div class="head">
                <div class="container ab-none">

                    <div class="logo-wrapper">
                        <div class="logo">
                            <a href="/">
                                <img src="/images/Logo.png" alt="Логотип" width="250" height="65">
                            </a>
                        </div>
                    </div>

                    <div class="head_right">
                        <div class="head_right_top">
                            <div class="top_phones">

                                <svg width="21" height="21" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M13.5 2C13.5 2 15.8335 2.21213 18.8033 5.18198C21.7731 8.15183 21.9853 10.4853 21.9853 10.4853" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path> <path d="M14.207 5.53564C14.207 5.53564 15.197 5.81849 16.6819 7.30341C18.1668 8.78834 18.4497 9.77829 18.4497 9.77829" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path> <path d="M15.1007 15.0272L14.5569 14.5107L15.1007 15.0272ZM15.5562 14.5477L16.1 15.0642H16.1L15.5562 14.5477ZM17.9728 14.2123L17.5987 14.8623H17.5987L17.9728 14.2123ZM19.8833 15.312L19.5092 15.962L19.8833 15.312ZM20.4217 18.7584L20.9655 19.2749L20.4217 18.7584ZM19.0011 20.254L18.4573 19.7375L19.0011 20.254ZM17.6763 20.9631L17.7499 21.7095L17.6763 20.9631ZM7.81536 16.4752L8.35915 15.9587L7.81536 16.4752ZM3.00289 6.96594L2.25397 7.00613L2.25397 7.00613L3.00289 6.96594ZM9.47752 8.50311L10.0213 9.01963H10.0213L9.47752 8.50311ZM9.63424 5.6931L10.2466 5.26012L9.63424 5.6931ZM8.37326 3.90961L7.76086 4.3426V4.3426L8.37326 3.90961ZM5.26145 3.60864L5.80524 4.12516L5.26145 3.60864ZM3.69185 5.26114L3.14806 4.74462L3.14806 4.74462L3.69185 5.26114ZM11.0631 13.0559L11.6069 12.5394L11.0631 13.0559ZM15.6445 15.5437L16.1 15.0642L15.0124 14.0312L14.5569 14.5107L15.6445 15.5437ZM17.5987 14.8623L19.5092 15.962L20.2575 14.662L18.347 13.5623L17.5987 14.8623ZM19.8779 18.2419L18.4573 19.7375L19.5449 20.7705L20.9655 19.2749L19.8779 18.2419ZM17.6026 20.2167C16.1676 20.3584 12.4233 20.2375 8.35915 15.9587L7.27157 16.9917C11.7009 21.655 15.9261 21.8895 17.7499 21.7095L17.6026 20.2167ZM8.35915 15.9587C4.48303 11.8778 3.83285 8.43556 3.75181 6.92574L2.25397 7.00613C2.35322 8.85536 3.1384 12.6403 7.27157 16.9917L8.35915 15.9587ZM9.7345 9.32159L10.0213 9.01963L8.93372 7.9866L8.64691 8.28856L9.7345 9.32159ZM10.2466 5.26012L8.98565 3.47663L7.76086 4.3426L9.02185 6.12608L10.2466 5.26012ZM4.71766 3.09213L3.14806 4.74462L4.23564 5.77765L5.80524 4.12516L4.71766 3.09213ZM9.1907 8.80507C8.64691 8.28856 8.64622 8.28929 8.64552 8.29002C8.64528 8.29028 8.64458 8.29102 8.64411 8.29152C8.64316 8.29254 8.64219 8.29357 8.64121 8.29463C8.63924 8.29675 8.6372 8.29896 8.6351 8.30127C8.63091 8.30588 8.62646 8.31087 8.62178 8.31625C8.61243 8.32701 8.60215 8.33931 8.59116 8.3532C8.56918 8.38098 8.54431 8.41512 8.51822 8.45588C8.46591 8.53764 8.40917 8.64531 8.36112 8.78033C8.26342 9.0549 8.21018 9.4185 8.27671 9.87257C8.40742 10.7647 8.99198 11.9644 10.5193 13.5724L11.6069 12.5394C10.1793 11.0363 9.82761 10.1106 9.76086 9.65511C9.72866 9.43536 9.76138 9.31957 9.77432 9.28321C9.78159 9.26277 9.78635 9.25709 9.78169 9.26437C9.77944 9.26789 9.77494 9.27451 9.76738 9.28407C9.76359 9.28885 9.75904 9.29437 9.7536 9.30063C9.75088 9.30375 9.74793 9.30706 9.74476 9.31056C9.74317 9.31231 9.74152 9.3141 9.73981 9.31594C9.73896 9.31686 9.73809 9.31779 9.7372 9.31873C9.73676 9.3192 9.73608 9.31992 9.73586 9.32015C9.73518 9.32087 9.7345 9.32159 9.1907 8.80507ZM10.5193 13.5724C12.0422 15.1757 13.1923 15.806 14.0698 15.9485C14.5201 16.0216 14.8846 15.9632 15.1606 15.8544C15.2955 15.8012 15.4022 15.7387 15.4823 15.6819C15.5223 15.6535 15.5556 15.6266 15.5824 15.6031C15.5959 15.5913 15.6077 15.5803 15.618 15.5703C15.6232 15.5654 15.628 15.5606 15.6324 15.5562C15.6346 15.554 15.6367 15.5518 15.6387 15.5497C15.6397 15.5487 15.6407 15.5477 15.6417 15.5467C15.6422 15.5462 15.6429 15.5454 15.6431 15.5452C15.6438 15.5444 15.6445 15.5437 15.1007 15.0272C14.5569 14.5107 14.5576 14.51 14.5583 14.5093C14.5585 14.509 14.5592 14.5083 14.5596 14.5078C14.5605 14.5069 14.5614 14.506 14.5623 14.5051C14.5641 14.5033 14.5658 14.5015 14.5674 14.4998C14.5708 14.4965 14.574 14.4933 14.577 14.4904C14.583 14.4846 14.5885 14.4796 14.5933 14.4754C14.6028 14.467 14.6099 14.4616 14.6145 14.4584C14.6239 14.4517 14.6229 14.454 14.6102 14.459C14.5909 14.4666 14.5 14.4987 14.3103 14.4679C13.9077 14.4025 13.0391 14.0472 11.6069 12.5394L10.5193 13.5724ZM8.98565 3.47663C7.97206 2.04305 5.94384 1.80119 4.71766 3.09213L5.80524 4.12516C6.32808 3.57471 7.24851 3.61795 7.76086 4.3426L8.98565 3.47663ZM3.75181 6.92574C3.73038 6.52644 3.90425 6.12654 4.23564 5.77765L3.14806 4.74462C2.61221 5.30877 2.20493 6.09246 2.25397 7.00613L3.75181 6.92574ZM18.4573 19.7375C18.1783 20.0313 17.8864 20.1887 17.6026 20.2167L17.7499 21.7095C18.497 21.6357 19.1016 21.2373 19.5449 20.7705L18.4573 19.7375ZM10.0213 9.01963C10.9889 8.00095 11.0574 6.40678 10.2466 5.26012L9.02185 6.12608C9.44399 6.72315 9.37926 7.51753 8.93372 7.9866L10.0213 9.01963ZM19.5092 15.962C20.33 16.4345 20.4907 17.5968 19.8779 18.2419L20.9655 19.2749C22.2704 17.901 21.8904 15.6019 20.2575 14.662L19.5092 15.962ZM16.1 15.0642C16.4854 14.6584 17.086 14.5672 17.5987 14.8623L18.347 13.5623C17.2485 12.93 15.8861 13.1113 15.0124 14.0312L16.1 15.0642Z" fill="#0F3168"></path> </g></svg>


                                <a href="tel:+7 (747) 500-72-70">+7 (747) 500-72-70</a>
                                <a href="tel:+7 (777) 693-44-99">+7 (777) 693-44-99</a>
                                <a href="tel:+7 (701) 123-77-16">+7 (701) 123-77-16</a>
                            </div>
                            <div class="top_social">

                                <a href="https://www.facebook.com/apctrade" target="_blank">
                                    <svg  width="30" height="30"  viewBox="126.445 2.281 589 589" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><circle cx="420.945" cy="296.781" r="294.5" fill="#3c5a9a"></circle><path d="M516.704 92.677h-65.239c-38.715 0-81.777 16.283-81.777 72.402.189 19.554 0 38.281 0 59.357H324.9v71.271h46.174v205.177h84.847V294.353h56.002l5.067-70.117h-62.531s.14-31.191 0-40.249c0-22.177 23.076-20.907 24.464-20.907 10.981 0 32.332.032 37.813 0V92.677h-.032z" fill="#ffffff"></path></g></svg>
                                </a>
                                <a href="https://www.instagram.com/apctrade/" target="_blank">
                                    <svg width="30" height="30" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint0_radial_87_7153)"></rect> <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint1_radial_87_7153)"></rect> <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint2_radial_87_7153)"></rect> <path d="M23 10.5C23 11.3284 22.3284 12 21.5 12C20.6716 12 20 11.3284 20 10.5C20 9.67157 20.6716 9 21.5 9C22.3284 9 23 9.67157 23 10.5Z" fill="white"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M16 21C18.7614 21 21 18.7614 21 16C21 13.2386 18.7614 11 16 11C13.2386 11 11 13.2386 11 16C11 18.7614 13.2386 21 16 21ZM16 19C17.6569 19 19 17.6569 19 16C19 14.3431 17.6569 13 16 13C14.3431 13 13 14.3431 13 16C13 17.6569 14.3431 19 16 19Z" fill="white"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M6 15.6C6 12.2397 6 10.5595 6.65396 9.27606C7.2292 8.14708 8.14708 7.2292 9.27606 6.65396C10.5595 6 12.2397 6 15.6 6H16.4C19.7603 6 21.4405 6 22.7239 6.65396C23.8529 7.2292 24.7708 8.14708 25.346 9.27606C26 10.5595 26 12.2397 26 15.6V16.4C26 19.7603 26 21.4405 25.346 22.7239C24.7708 23.8529 23.8529 24.7708 22.7239 25.346C21.4405 26 19.7603 26 16.4 26H15.6C12.2397 26 10.5595 26 9.27606 25.346C8.14708 24.7708 7.2292 23.8529 6.65396 22.7239C6 21.4405 6 19.7603 6 16.4V15.6ZM15.6 8H16.4C18.1132 8 19.2777 8.00156 20.1779 8.0751C21.0548 8.14674 21.5032 8.27659 21.816 8.43597C22.5686 8.81947 23.1805 9.43139 23.564 10.184C23.7234 10.4968 23.8533 10.9452 23.9249 11.8221C23.9984 12.7223 24 13.8868 24 15.6V16.4C24 18.1132 23.9984 19.2777 23.9249 20.1779C23.8533 21.0548 23.7234 21.5032 23.564 21.816C23.1805 22.5686 22.5686 23.1805 21.816 23.564C21.5032 23.7234 21.0548 23.8533 20.1779 23.9249C19.2777 23.9984 18.1132 24 16.4 24H15.6C13.8868 24 12.7223 23.9984 11.8221 23.9249C10.9452 23.8533 10.4968 23.7234 10.184 23.564C9.43139 23.1805 8.81947 22.5686 8.43597 21.816C8.27659 21.5032 8.14674 21.0548 8.0751 20.1779C8.00156 19.2777 8 18.1132 8 16.4V15.6C8 13.8868 8.00156 12.7223 8.0751 11.8221C8.14674 10.9452 8.27659 10.4968 8.43597 10.184C8.81947 9.43139 9.43139 8.81947 10.184 8.43597C10.4968 8.27659 10.9452 8.14674 11.8221 8.0751C12.7223 8.00156 13.8868 8 15.6 8Z" fill="white"></path> <defs> <radialGradient id="paint0_radial_87_7153" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(12 23) rotate(-55.3758) scale(25.5196)"> <stop stop-color="#B13589"></stop> <stop offset="0.79309" stop-color="#C62F94"></stop> <stop offset="1" stop-color="#8A3AC8"></stop> </radialGradient> <radialGradient id="paint1_radial_87_7153" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(11 31) rotate(-65.1363) scale(22.5942)"> <stop stop-color="#E0E8B7"></stop> <stop offset="0.444662" stop-color="#FB8A2E"></stop> <stop offset="0.71474" stop-color="#E2425C"></stop> <stop offset="1" stop-color="#E2425C" stop-opacity="0"></stop> </radialGradient> <radialGradient id="paint2_radial_87_7153" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0.500002 3) rotate(-8.1301) scale(38.8909 8.31836)"> <stop offset="0.156701" stop-color="#406ADC"></stop> <stop offset="0.467799" stop-color="#6A45BE"></stop> <stop offset="1" stop-color="#6A45BE" stop-opacity="0"></stop> </radialGradient> </defs> </g></svg>
                                </a>
                            </div>
                        </div>
                        <div class="head_right_bottom">


                            <div class="navbar">

                                <a href="@Url.Action("Index", "Home")">Главная</a>

                                <a href="@Url.Action("Okompanii", "Home")">О компании</a>
                                <a href="@Url.Action("Uslugi", "Home")">Услуги</a>
                                <a href="@Url.Action("Obekty", "Home")">Объекты</a>
                                <a href="@Url.Action("Sertifikaty", "Home")">Сертификаты</a>
                                <a href="@Url.Action("Partnery", "Home")">Партнеры</a>
                                <a href="@Url.Action("Klientyonas", "Home")">Клиенты о нас</a>
                                <a href="@Url.Action("Contacts", "Home")">Контакты</a>
                            </div>

                        </div>
                </div>
            </div>
            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>



    <!-- Footer -->
    <footer id="layout-footer">
        <div class="container">
            <div class="foot_top">
                <div class="fcol fcol1">
                    <div class="ftitle">Мы в соц. сетях:</div>
                    <div class="foot_social">
                        <a href="https://www.facebook.com/apctrade" target="_blank">
                            <svg width="30" height="30" viewBox="126.445 2.281 589 589" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><circle cx="420.945" cy="296.781" r="294.5" fill="#3c5a9a"></circle><path d="M516.704 92.677h-65.239c-38.715 0-81.777 16.283-81.777 72.402.189 19.554 0 38.281 0 59.357H324.9v71.271h46.174v205.177h84.847V294.353h56.002l5.067-70.117h-62.531s.14-31.191 0-40.249c0-22.177 23.076-20.907 24.464-20.907 10.981 0 32.332.032 37.813 0V92.677h-.032z" fill="#ffffff"></path></g></svg>
                        </a>
                        <a href="https://www.instagram.com/apctrade/" target="_blank">
                            <svg width="30" height="30" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint0_radial_87_7153)"></rect> <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint1_radial_87_7153)"></rect> <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint2_radial_87_7153)"></rect> <path d="M23 10.5C23 11.3284 22.3284 12 21.5 12C20.6716 12 20 11.3284 20 10.5C20 9.67157 20.6716 9 21.5 9C22.3284 9 23 9.67157 23 10.5Z" fill="white"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M16 21C18.7614 21 21 18.7614 21 16C21 13.2386 18.7614 11 16 11C13.2386 11 11 13.2386 11 16C11 18.7614 13.2386 21 16 21ZM16 19C17.6569 19 19 17.6569 19 16C19 14.3431 17.6569 13 16 13C14.3431 13 13 14.3431 13 16C13 17.6569 14.3431 19 16 19Z" fill="white"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M6 15.6C6 12.2397 6 10.5595 6.65396 9.27606C7.2292 8.14708 8.14708 7.2292 9.27606 6.65396C10.5595 6 12.2397 6 15.6 6H16.4C19.7603 6 21.4405 6 22.7239 6.65396C23.8529 7.2292 24.7708 8.14708 25.346 9.27606C26 10.5595 26 12.2397 26 15.6V16.4C26 19.7603 26 21.4405 25.346 22.7239C24.7708 23.8529 23.8529 24.7708 22.7239 25.346C21.4405 26 19.7603 26 16.4 26H15.6C12.2397 26 10.5595 26 9.27606 25.346C8.14708 24.7708 7.2292 23.8529 6.65396 22.7239C6 21.4405 6 19.7603 6 16.4V15.6ZM15.6 8H16.4C18.1132 8 19.2777 8.00156 20.1779 8.0751C21.0548 8.14674 21.5032 8.27659 21.816 8.43597C22.5686 8.81947 23.1805 9.43139 23.564 10.184C23.7234 10.4968 23.8533 10.9452 23.9249 11.8221C23.9984 12.7223 24 13.8868 24 15.6V16.4C24 18.1132 23.9984 19.2777 23.9249 20.1779C23.8533 21.0548 23.7234 21.5032 23.564 21.816C23.1805 22.5686 22.5686 23.1805 21.816 23.564C21.5032 23.7234 21.0548 23.8533 20.1779 23.9249C19.2777 23.9984 18.1132 24 16.4 24H15.6C13.8868 24 12.7223 23.9984 11.8221 23.9249C10.9452 23.8533 10.4968 23.7234 10.184 23.564C9.43139 23.1805 8.81947 22.5686 8.43597 21.816C8.27659 21.5032 8.14674 21.0548 8.0751 20.1779C8.00156 19.2777 8 18.1132 8 16.4V15.6C8 13.8868 8.00156 12.7223 8.0751 11.8221C8.14674 10.9452 8.27659 10.4968 8.43597 10.184C8.81947 9.43139 9.43139 8.81947 10.184 8.43597C10.4968 8.27659 10.9452 8.14674 11.8221 8.0751C12.7223 8.00156 13.8868 8 15.6 8Z" fill="white"></path> <defs> <radialGradient id="paint0_radial_87_7153" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(12 23) rotate(-55.3758) scale(25.5196)"> <stop stop-color="#B13589"></stop> <stop offset="0.79309" stop-color="#C62F94"></stop> <stop offset="1" stop-color="#8A3AC8"></stop> </radialGradient> <radialGradient id="paint1_radial_87_7153" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(11 31) rotate(-65.1363) scale(22.5942)"> <stop stop-color="#E0E8B7"></stop> <stop offset="0.444662" stop-color="#FB8A2E"></stop> <stop offset="0.71474" stop-color="#E2425C"></stop> <stop offset="1" stop-color="#E2425C" stop-opacity="0"></stop> </radialGradient> <radialGradient id="paint2_radial_87_7153" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0.500002 3) rotate(-8.1301) scale(38.8909 8.31836)"> <stop offset="0.156701" stop-color="#406ADC"></stop> <stop offset="0.467799" stop-color="#6A45BE"></stop> <stop offset="1" stop-color="#6A45BE" stop-opacity="0"></stop> </radialGradient> </defs> </g></svg>
                        </a>
                    </div>
                </div>
                <div class="fcol fcol2">
                    <div class="ftitle">Адрес:</div>
                    <div class="fval">г. Астана, ул. Достык 18, БЦ Москва</div>
                    <a href="http://2gis.kz/nur_sultan/firm/70000001031427910/center/71.43417835235597,51.125222814323486/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap" class="flink">смотреть на карте →</a>
                </div>
                <div class="fcol fcol3">
                    <div class="ftitle">Главный архитектор:</div>
                    <div class="fval">
                        <a href="tel:+7 (701) 123 77 16">+7 (701) 123 77 16</a>
                    </div>
                </div>
                <div class="fcol fcol3">
                    <div class="ftitle">Бухгалтерия:</div>
                    <div class="fval">
                        <a href="tel:+7 (747) 757 72 70">+7 (747) 757 72 70</a>
                    </div>
                </div>
                <div class="fcol fcol3">
                    <div class="ftitle">Юр. отдел:</div>
                    <div class="fval">
                        <a href="tel:+7 (708) 676 89 02">+7 (708) 676 89 02</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://apctrade.kz/themes/demo/assets/vendor/jquery.js"></script>
    <script src="https://apctrade.kz/themes/demo/assets/vendor/bootstrap.js"></script>
    <script src="https://apctrade.kz/themes/demo/assets/javascript/jquery.fancybox.min.js"></script>
    <script src="https://apctrade.kz/themes/demo/assets/javascript/maskedinput.js"></script>
    <script src="https://apctrade.kz/themes/demo/assets/javascript/slick.js"></script>
    <script src="https://apctrade.kz/themes/demo/assets/javascript/app.js"></script>
    <script src="https://apctrade.kz/themes/demo/assets/javascript/script.js"></script>
    <script src="/modules/system/assets/js/framework.js"></script>
    <script src="/modules/system/assets/js/framework.extras.js"></script>
    <link rel="stylesheet" property="stylesheet" href="/modules/system/assets/css/framework.extras.css">




    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118665679-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-118665679-1');
    </script>




    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BT3L7G90M8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-BT3L7G90M8');
    </script>
    <!-- у нас ---->
    <!----  <script type='text/javascript'>
    (function(){ var widget_id = 'NFzLo3Q4cL';var d=document;var w=window;function l(){
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>---->
    <!-- {/literal} END JIVOSITE CODE -->




    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter49168111 = new Ya.Metrika2({
                        id: 49168111,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";;

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/49168111" ; style="position:absolute; left:-9999px;" alt="" /></div></noscript>

</body>
<script>
    gtag('config', 'AW-802953967/VnWaCJHn44MBEO-18P4C', {
        'phone_conversion_number': '+7 701 5164600'
    });
</script>
<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
<script type="application/ld+json">

    {
    "name" : "INFINITY PROJECT автоматизация систем"
    "image" : "https://apctrade.kz/themes/demo/assets/images/logo.jpg",
    "telephone" : [ "+7 701 516 46 00" ],
    "email" : "info@INFINITY PROJECT.kz",
    "legalName" : "INFINITY PROJECT",
    "logo": " https://apctrade.kz/themes/demo/assets/images/logo.jpg ",
    "paymentAccepted" : "Безналичнаяоплата, Наличнаяоплата, Переводнакарту",
    "url":" https://apctrade.kz/ ",
    "address" : {
    "streetAddress" : "ул.Достык 18, 21 офис, этаж  17",
    "addressLocality" : "г. Астана"
    }
    }
</script>
</html>
